body {
background: #f5f5f5;
font-family: Arial, sans-serif;
margin: 0;
}

.barrasuperior {
background: #e9ecef;
padding: 18px;
border-bottom: 2px solid #ccc;
}

.container {
display: flex;
gap: 20px;
padding: 20px;
}


.tarjetaizquierda {
width: 30%;
background: #fff;
border-radius: 10px;
padding: 15px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.photo {
width: 100%;
border-radius: 10px;
}


.details p {
margin: 8px 0;
font-size: 14px;
}


.tarjetaderecha{
width: 70%;
background: #fff;
border-radius: 10px;
padding: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.info-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px 40px;
padding:10px;
}
.info-item{
background:#f7f7f7;
padding:12px;
border-radius:10px;
}
.info-item strong{
font-size:15px;
}

h3 {
margin-top: 0;
}

.p{
    vertical-align:middle;
    margin-right:6px;
}

.btn{
background:aliceblue;
color:white;
padding:10px 18px;
border:none;
border-radius:8px;
cursor:pointer;
}
.btn:hover{
opacity:0.8;
}